.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background: black;
    line-height: 40px;
    text-align: left;
}
.header nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    padding: 5px; 
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.header nav a:hover{
    background: gray;
    transition: .3s ease;
}